.division-0{
    width: 100%;
    padding-left: 40px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;}
.division-0 img{
    width: 80px ;}
.division-1{
    width: 50%;
    padding-left: 40px; }
.division-1 img{
    width: 75% ;
    padding-left: 100px; }
.flexible-container {
        display:flex;
        margin-bottom: 40px; }
    .link-button{
        text-decoration: none ;
        background-image: linear-gradient(red , orange); 
        color: white;
        font-weight : 700;
        padding: 10px 40px;
        border-radius: 5px; }

        .division-2{
            width: 50%;
            padding-right: 10px;
            width: 1000px;
            background-image: url(images/shapes/Frame\ 57.jpg); 
            background-repeat: no-repeat;  }
        .division-2 img {
            width: 75% ;
            padding-right: 100px;
            height: 100%;  }
        #link-button2 {
            text-decoration: none ;
        background-image: linear-gradient(skyblue ,blue); 
        color: white;
        font-weight : 700;
        padding: 10px 40px;
        border-radius: 5px; }
        .flexible-container2 {
        display: flex;
        margin-bottom: 50px;
        background-image: url(images/shapes/Frame\ 57.jpg); }
    .flexible-container3{
        display: flex;
        margin-bottom: 50px; }
    .border-item{
        box-shadow: 10px 10px 40px gray;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 10px;
        border-radius: 10px;
        border-left: 10px solid; }
    #border-1{ 
       border-left: 7px solid ;
       border-image: linear-gradient(orange,yellow);
       border-image-slice: 1; }
      
    .link-button3{
        text-decoration: none ;
        background-image: linear-gradient(red , orange); 
        color: white;
        font-weight : 400;
        padding: 10px 20px;
        border-radius: 5px;  }